#body {
  width: 100%;
  background-color: #5d5d5d;
  padding-top: 24px;
  padding-bottom: 24px;
}
#body > .body-content {
  max-width: 1484px;
  margin: 0 auto;
  background-color: #121212;
  color: white;
  border-radius: 12px;
  padding: 28px 20px;
}
#body > .body-content > .body-scroll > .body-scroll__head {
  display: flex;
  font-size: 1.8rem;
  line-height: 36px;
  margin-bottom: 23px;
}
#body > .body-content > .body-scroll > .body-scroll__head > .body-scroll__head-main {
  font-size: 1.8rem;
  position: relative;
  margin-right: 30px;
}
#body > .body-content > .body-scroll > .body-scroll__head > .body-scroll__head-main::after {
  content: " ";
  background: url("../images/Vector.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 10px;
  height: 15px;
  right: -20px;
  top: 10px;
}
#body > .body-content > .body-scroll > .body-scroll__head > .body-scroll__head-item ul {
  display: flex;
}
#body > .body-content > .body-scroll > .body-scroll__head > .body-scroll__head-item ul li {
  font-size: 1.8rem;
  padding: 0 26px;
  color: rgb(110, 110, 110);
}
#body > .body-content > .body-scroll > .body-scroll__body {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 29px;
  background-color: #121212;
  display: flex;
}
#body > .body-content > .body-scroll > .body-scroll__body > .body-scroll__body-item {
  height: auto;
  max-width: 269px;
}
#body > .body-content > .body-scroll > .body-scroll__body > .body-scroll__body-item > .body-item-image {
  position: relative;
  border-radius: 4px;
}
#body > .body-content > .body-movie {
  margin-top: 36px;
  display: flex;
}
#body > .body-content > .body-movie > .body-movie__content {
  width: 80%;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie {
  margin-bottom: 32px;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-head {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-head h2 {
  border-radius: 4px;
  height: 44px;
  line-height: 44px;
  background: linear-gradient(270deg, #A01522 0%, #881238 100%);
  padding-left: 16px;
  padding-right: 34px;
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-head h2::after {
  content: " ";
  background: url("../images/Vector.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 10px;
  height: 15px;
  right: 12px;
  top: 15px;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-items {
  display: flex;
  flex-wrap: wrap;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-items > .movie-item {
  margin-right: 15px;
  margin-bottom: 40px;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-items > .movie-item > .item-img {
  position: relative;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-items > .movie-item > .item-img > .item-time {
  position: absolute;
  bottom: 8px;
  left: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  height: 24px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-items > .movie-item > .item-img > .item-view {
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-radius: 4px;
  font-size: 1.1rem;
  height: 24px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background: linear-gradient(270deg, #A01522 0%, #881238 100%);
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-items > .movie-item > .item-img > .item-view img {
  margin-right: 8px;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-items > .movie-item > .item-content {
  padding-top: 16px;
  text-align: center;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-items > .movie-item > .item-content > .name {
  font-size: 1.6rem;
  font-weight: 400;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .content-movie-items > .movie-item > .item-content > .date {
  padding-top: 4px;
  color: #928F8F;
  font-size: 1.2rem;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__content-movie > .movie-see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  background: #181C1E;
  height: 44px;
  border-radius: 4px;
}
#body > .body-content > .body-movie > .body-movie__content > .body-movie__banner {
  margin-bottom: 32px;
}
#body > .body-content > .body-movie > .body-movie__banner {
  width: 20%;
  margin-left: 20px;
}
#body > .body-content > .body-movie > .body-movie__banner img {
  margin-bottom: 16px;
}

.time {
  position: absolute;
  top: 150px;
  left: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  height: 24px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.view {
  position: absolute;
  top: 150px;
  right: 8px;
  border-radius: 4px;
  font-size: 1.1rem;
  height: 24px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background: linear-gradient(270deg, #A01522 0%, #881238 100%);
}
.view img {
  margin-right: 8px;
}

.body-item-content {
  padding-top: 16px;
  text-align: center;
}
.body-item-content > .name {
  font-size: 1.6rem;
  font-weight: 400;
}
.body-item-content > .date {
  padding-top: 4px;
  color: #928F8F;
  font-size: 1.2rem;
}

.body-scroll__body-item {
  max-width: 269px;
  position: relative;
}

/*# sourceMappingURL=body.css.map */
