#header {
  max-width: 100%;
  background-color: #121212;
}

#header > .header-content {
  max-width: 1484px;
  margin: 0 auto;
  height: 93px;
  line-height: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}
#header > .header-content > .header-logo {
  display: flex;
  align-items: center;
}
#header > .header-content .header-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #A01522;
}
#header > .header-content > .header-menu {
  display: flex;
  align-items: center;
}
#header > .header-content > .header-menu .lang {
  display: none;
}
#header > .header-content > .header-menu > ul {
  display: flex;
  align-items: center;
}
#header > .header-content > .header-menu > ul > li {
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#header > .header-content > .header-menu .icon-search {
  display: none;
}
#header > .header-content > .header-menu > .header-search {
  height: 47px;
  position: relative;
  background-color: #303030;
  border-radius: 4px;
  display: flex;
}
#header > .header-content > .header-menu > .header-search::before {
  content: " ";
  background-image: url("../images/circle2017.png");
  background-size: 100%;
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 14px;
  left: 10px;
  z-index: 1000;
}
#header > .header-content > .header-menu > .header-search .search {
  width: calc(100% - 70px);
  height: 20px;
  font-size: 1.2rem;
  padding-left: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
#header > .header-content > .header-menu > .header-search .search input {
  height: 20px;
  border-right: 1px solid #626262;
}
#header > .header-content > .header-menu > .header-search .select {
  width: 70px;
  height: 100%;
  font-size: 1.2rem;
  position: relative;
  padding-left: 10px;
}
#header > .header-content > .header-menu > .header-search .select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid white;
}
#header > .header-content > .header-menu > .header-search input, #header > .header-content > .header-menu > .header-search select {
  display: inline-block;
  outline: none;
  background-color: #303030;
  border: none;
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  height: 100%;
  width: 100%;
}
#header > .header-content > .header-menu > .header-lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 47px;
  margin-left: 15px;
}
#header > .header-content > .header-menu > .header-lang > .header-lang__logo {
  width: 21px;
  height: 21px;
  margin-bottom: 9px;
}
#header > .header-content > .header-menu > .header-lang > .header-lang__logo img {
  width: 100%;
  display: inline-block;
}
#header > .header-content > .header-menu > .header-lang div {
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  #header {
    display: flex;
  }
  #header .header-menu ul {
    top: 93px;
    display: block !important;
    background-color: #303030;
    margin: 0;
    width: 100%;
    position: absolute;
    right: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 10;
    padding: 0 25px;
  }
  #header .header-menu ul li {
    padding: 0 !important;
    position: relative;
    font-size: 2rem !important;
  }
  #header .header-menu ul li::after {
    content: " ";
    background: url(../images/Vector.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 10px;
    height: 15px;
    right: 16px;
    top: 45px;
  }
  #header .header-menu ul li:not(:last-child) {
    border-bottom: 1px solid #464646;
  }
  #header .header-menu ul .lang {
    height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
  #header .header-menu ul .lang span {
    color: white;
    font-size: 2rem;
    font-weight: 400;
  }
  #header .header-menu ul .lang .logo-lang {
    display: flex;
  }
  #header .header-menu ul .lang .logo-lang img {
    margin: 0 7px;
  }
  #header .header-menu ul.active {
    background: #101010;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  #header .header-menu li {
    color: wheat;
    text-align: left;
    height: 76px;
    line-height: 90px;
    width: 100%;
  }
  #header #mobile-menu {
    position: absolute;
    top: 25px;
    left: 3%;
    transform: translate(5%, 20%);
  }
  #header #mobile-menu .bar {
    display: block;
    cursor: pointer;
  }
  #header #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #header #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #header #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #header .icon-search {
    display: block !important;
    right: 3%;
    width: 32px;
    height: 32px;
    position: absolute !important;
    background: linear-gradient(270deg, #A01522 0%, #881238 100%);
    border-radius: 4px;
    padding: 7.5px;
  }
  #header .icon-search img {
    width: 100%;
  }
  #header .header-search {
    border-radius: 0px !important;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    right: 100%;
    opacity: 0;
    position: absolute !important;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 10;
    margin: 0;
    padding: 0 16px;
    flex-direction: row-reverse;
  }
  #header .header-search::before {
    display: none !important;
  }
  #header .header-search select {
    width: 20%;
    font-size: 1.4rem !important;
  }
  #header .header-search input {
    width: 80%;
    border-left: 1px solid #928F8F;
    border-right: none !important;
    padding-left: 20px !important;
    padding-right: 20px;
  }
  #header .header-search .search-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
  }
  #header .header-search .search-toggle .bar:nth-child(2) {
    opacity: 0;
  }
  #header .header-search .search-toggle .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #header .header-search .search-toggle .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #header .header-search.active {
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    height: 58px !important;
  }
  #header .header-lang {
    display: none !important;
  }
}

/*# sourceMappingURL=header.css.map */
