#footer {
    background: #101010;
    .footer-mobile {
        display: none;
    }
    .footer-desktop {
        max-width: 1484px;
        margin: 0 auto;
        
        ul {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            li {
                a {
                    width: 100%;
                    height: 100%;
                    color: #797979;
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #footer {
        .footer-desktop {
            display: none !important;
        }
        .footer-mobile {
            display: block;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 1.3rem;
            font-weight: 400;
            color: #FFFFFF80;
        }
    }
}
