/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    text-decoration: none;
    list-style: none;
}

.body {
    max-width: 1484px;
    margin: 0 auto;
}

.fs-16 {
    font-size: 1.6rem;
}

.bg-primary {
    background-color: #121212;
}

.color-primary {
    color: #FFFFFF;
}